{% extends "homeapp/base.html" %}

{% block title %}
Сотрудники
{% endblock %}

{% if perms.add_user %}
    {% block custom-top-menu-items %}
        <li>
            <a href="#">
                регистрация
            </a>
        </li>
    {% endblock %}
{% endif %}

{% block page-content %}
    <ol>
        {% for profile in profiles %}
            <li>
                <a href="#">
                    {{ profile.link_str }}
                </a>
            </li>
        {% empty %}
            <h1>
                Нет данных
            </h1>
        {% endfor %}
    </ol>
{% endblock %}