{% extends 'homeapp/base.html' %}

{% block title %}
    Регистрация пользователя
{% endblock %}

{% block menu-items %}
    <li>
        <a href="{% url 'homeapp:index' %}">
            Отменить
        </a>
    </li>
{% endblock %}

{% block page-content %}
<ul>
    <li>
        Имя пользователя должно содержать не более 150 символов. Только буквы, цифры и символы @/./+/-/_.
    </li>
    <li>
        Пароль не должен быть слишком похож на другую вашу личную информацию.
    </li>
    <li>
        Пароль должен содержать как минимум 8 символов.
    </li>
    <li>
        Пароль не должен быть слишком простым и распространенным.
    </li>
    <li>
        Пароль не может состоять только из цифр.
    </li>
</ul>
{% endblock %}