{% extends 'core/base.html' %}

{% load static %}

{% block content-title %}
Регистрация аккаунта
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td align="center">
                    Все поля обязательны для заполнения.
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <img src="{% static 'authapp/img/username-icon.png' %}" alt="login" width="25" height="25">
                            </td>
                            <td>
                                <label for="id_username">
                                    Имя пользователя:
                                </label>
                            </td>
                            <td>
                                <input type="text" id="id_username" name="username">
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td colspan="2">
                                Не более 150 символов. Только буквы, цифры и символы @/./+/-/_
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{% static 'authapp/img/password-icon.png' %}" alt="login" width="25" height="25">
                            </td>
                            <td>
                                <label for="id_password1">
                                    Пароль:
                                </label>
                            </td>
                            <td>
                                <input type="password" id="id_password1" name="password1">
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td colspan="2">
                                <ul>
                                    <li>
                                        Пароль не должен быть похож на другую личную информацию.
                                    </li>
                                    <li>
                                        Пароль должен содержать как минимум 8 символов.
                                    </li>
                                    <li>
                                        Пароль не должен быть слишком простым и распространенным.
                                    </li>
                                    <li>
                                        Пароль не может состоять только из цифр.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <label for="id_password2">
                                    Повторите пароль:
                                </label>
                            </td>
                            <td>
                                <input type="password" id="id_password2" name="password2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{% static 'authapp/img/email-icon.png' %}" alt="login" width="25" height="25">
                            </td>
                            <td>
                                <label for="id_email">
                                    Эл. почта:
                                </label>
                            </td>
                            <td>
                                <input type="text" id="id_email" name="email">
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td colspan="2">
                                Адрес рабочей эл. почты.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <button type="submit">
                        Зарегистрировать
                    </button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}