<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'homeapp/css/styles.css' %}">
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Шаблон
        {% endblock %}
    </title>
</head>
<body>
<header>

    <a href="{% url 'homeapp:index' %}" class="logo">
        <img src="{% static 'homeapp/img/logo.png' %}" alt="logo">
    </a>

    <nav>
        <ul>
        </ul>
    </nav>

</header>
<div class="bottom-area">
    <div class="left-menu">
        {% block lef-menu %}
            <nav id="page-menu">
                <ul>
                    {% block left-menu-items %}
                    {% endblock %}
                </ul>
            </nav>
        {% endblock %}
    </div>
    <div class="page-content">
        {% block page-content %}
            Место для контента текущей страницы.
        {% endblock %}
    </div>
</div>
</body>
</html>