<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'homeapp/css/styles.css' %}">
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Шаблон
        {% endblock %}
    </title>
</head>
<body>
<header>

    <a href="{% url 'homeapp:index' %}" class="logo">
        <img src="{% static 'homeapp/img/logo.png' %}" alt="logo">
    </a>

    <nav>
        <ul>
            {% block common-top-menu-items %}
                {% if user.is_authenticated %}
                    <li>
                        <a href="#">
                            выйти
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            сотрудники
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="#">
                            войти
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="#">
                        о проекте
                    </a>
                </li>
            {% endblock %}
            {% block custom-top-menu-items %}
            {% endblock %}
        </ul>
    </nav>

</header>
<div class="bottom-area">
    <div class="left-menu">
        {% block lef-menu %}
            <nav id="page-menu">
                <ul>
                    {% block left-menu-items %}
                    {% endblock %}
                </ul>
            </nav>
        {% endblock %}
    </div>
    <div class="page-content">
        <h1>
            {% block page-content-title %}
            {% endblock %}
        </h1>
        {% if form.errors %}
            <div>
                <span class="error-text">
                    При обработке запроса найдены ошибки.
                </span>
                <ul>
                {% if form.non_field_errors %}
                    {% for non_field_error in form.non_field_errors %}
                        <li class="error-text">
                            {{ non_field_error }}
                        </li>
                    {% endfor %}
                {% else %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li class="error-text">
                                {{ field.label }}: {{ error }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
        {% endif %}
        {% block page-content %}
        {% endblock %}
    </div>
</div>
</body>
</html>