<!doctype html>
<html lang="ru">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <title>
        {% block page-title %}
            Система управления сигналами проекта
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="menu-item">
                    <a href="/">
                        <img src="{% static 'core/img/logo3.png' %}" alt="logo">
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">
                        авторизация &bigtriangledown;
                    </a>
                    <ul class="submenu">
                        {% if user.is_authenticated %}
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    профиль
                                </a>
                            </li>
                            <li class=".menu-item">
                                <a href="{% url 'auth:logout' %}" class="menu-link">
                                    выйти
                                </a>
                            </li>
                        {% else %}
                            <li class="menu-item">
                                <a href="{% url 'auth:login' %}" class="menu-link">
                                    войти
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'aboutapp:about' %}" class="menu-link">
                        о проекте
                    </a>
                </li>
                {% block custom-menu %}
                {% endblock %}
            </ul>
        </nav>
    </header>
    <div class="page-content">
        <div class="content-title">
            {% block content-title %}
            {% endblock %}
        </div>
        <div class="form-errors">
            {% if form.errors %}
                <div class="e-title">
                    Исправьте перечисленные ошибки.
                </div>
                <ul class="e-list">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <li class="e-text">
                                {{ error }}
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li class="e-text">
                                    {{ field.label }}: {{ error }}
                                </li>
                            {% endfor %}
                        {% endfor %}

                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>