@font-face {
	font-family: 'GolosUIWebRegular';
	src:
		url('../font/golos-text_regular.woff2') format('woff2'),
		url('../font/golos-text_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}