.menu ul,
.menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul {
  /*background-color: #f9f9f9;*/
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  padding: 10px 20px;
  color: #00963A;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menu ul li:hover > a {
  background-color: #00963A;
  color: #FFE96E;
}

.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /*background-color: #fff;*/
  border: 1px solid #ddd;
}

.menu ul li:hover > ul {
  display: inherit;
}

.menu ul ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}

.menu ul ul ul li {
  position: relative;
  top: -60px;
  left: 200px;
}

.menu a:hover {
  background-color: #ddd;
}

.menu ul ul li a {
  padding: 10px 30px;
  color: #333;
}

.menu ul ul li a:hover {
  /*background-color: #ddd;*/
}

.menu ul ul ul li a {
  padding-left: 40px;
}

.menu ul ul ul {
  border-top: 0;
  left: 100%;
  top: 0;
}

.menu ul ul > li:hover > ul,
.menu ul li:hover > ul {
  display: inherit;
}

.menu::after {
  content: "";
  clear: both;
  display: block;
}