{% extends 'homeapp/base.html' %}

{% block title %}
    Сотрудники
{% endblock %}

{% if perms.add_user and perms.add_profile %}
    {% block top-menu-items %}
        <li>
            <a href="{% url 'authapp:register' %}">
                регистрация
            </a>
        </li>
    {% endblock %}
{% endif %}

{% block page-content %}
    {% if not profiles %}
        <h1>
            Нет зарегистрированных пользователей.
        </h1>
    {% else %}
        <ul>
            {% for profile in profiles %}
                <li>
                    <a href="{% url 'profileapp:detail' pk=profile.pk %}">
                        {{ profile.link_str }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}