{% extends 'core/base.html' %}

{% load static %}

{% block content-title %}
Реадактирование профиля {{ profile.fio }}
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>
                    Аватар
                </th>
                <th>
                    Профиль
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {% if profile.avatar.image %}
                            <img src="{{ profile.avatar.image.url }}" alt="avatar" width="150" height="150">
                        {% else %}
                            <img src="{% static 'profileapp/img/default-avatar.png' %}" alt="avatar" width="150" height="150">
                        {% endif %}
                    </table>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}