{% extends 'homeapp/base.html' %}

{% load static %}

{% block title %}
    Редактирование профиля {{ profile.fio }}
{% endblock %}

{% block page-content %}
    <h1>
        Редактирование профиля {{ profile.fio }}
    </h1>
    {% if form.errors %}
        <span class="error-text">
            Исправьте перечисленные ниже ошибки.
        </span>
        <ul>
            {% if form.non_field_errors %}
                {% for non_field_error in form.non_field_errors %}
                    <li class="error-text">
                        {{ non_field_error }}
                    </li>
                {% endfor %}
            {% else %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="error-text">
                            {{ error }}
                        </li>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
    <table>
        <tr>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                {% if perms.change_avatar %}
                <form action="#">
                    <button>
                        Загрузить
                    </button>
                </form>
                {% endif %}
            </td>
            <td>
                <form action="#">
                    <button>
                        Добавить телефон
                    </button>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}