{% extends 'homeapp/base.html' %}

{% load static %}

{% block title %}
    Редактировать профиль
{% endblock %}

{% block page-content %}
    <table>
        <thead>
            <tr>
                <td>
                    Аватар
                </td>
                <td>
                    Личные анные
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" alt="avatar" width="150" height="150">
                    {% else %}
                        <img src="{% static 'profileapp/img/default-avatar.png' %}" alt="avatar" width="150" height="150">
                    {% endif %}
                </td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <label for="id_lastname">
                                                    Фамилия
                                                </label>
                                            </td>
                                            <td>
                                                <input type="text" id="id_lastname" name="lastname" value="{% firstof profile.lastname 'Фамилия' %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="id_firstname">
                                                    Имя
                                                </label>
                                            </td>
                                            <td>
                                                <input type="text" id="id_firstname" name="firstname" value="{% firstof profile.firstname 'Имя' %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="id_middlename">
                                                    Отчество
                                                </label>
                                            </td>
                                            <td>
                                                <input type="text" id="id_middlename" name="middlename" value="{% firstof profile.middlename 'Отчество' %}">
                                            </td>
                                            <td>
                                                <input type="checkbox" id="id_nmn" name="nmn" value="{{ profile.nmn }}">
                                            </td>
                                            <td>
                                                <label for="id_nmn">
                                                    Нет отчества
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="id_ext_cell">
                                                    Доп. тел.
                                                </label>
                                            </td>
                                            <td>
                                                <input type="text" id="id_ext_cell" name="ext_cell" value="{% firstof profile.ext_cell 'Введите номер' %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="id_ser_cell">
                                                    Служ. тел.
                                                </label>
                                            </td>
                                            <td>
                                                <input type="text" id="id_ser_cell" name="ser_cell" value="{% firstof profile.ser_cell 'Введите номер' %}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="id_pri_cell">
                                                    Лич. тел.
                                                </label>
                                            </td>
                                            <td>
                                                <input type="text" id="id_pri_cell" name="pri_cell" value="{% firstof profile.pri_cell 'Введите номер' %}">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <button type="submit" data-width="80">
                                        Сохранить изменения
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}