{% extends 'core/base.html' %}

{% load static %}

{% if profile %}
    {% if perms.profileapp.change_profile or user.is_staff %}
        {% block custom-menu %}
            <li class="menu-item">
                <a href="#" class="menu-link">
                    редактировать
                </a>
            </li>
        {% endblock %}
    {% endif %} {# if perms.profileapp.change_profile or user.is_staff #}
    {% block content-title %}
        Профиль сотрудника {{ profile.fio }}
    {% endblock %}
    {% block content %}
        <table>
            <thead>
                <tr>
                    <th>
                        Аватар
                    </th>
                    <th>
                        Профиль
                    </th>
                </tr>
            </thead>
            <tr>
                <td align="center">
                    {% if profile.avatar.image %}
                        <img src="{{ profile.avatar.image.url }}" alt="avatar" width="150" height="150">
                    {% else %}
                        <img src="{% static 'profileapp/img/default-avatar.png' %}" alt="avatar" width="150" height="150">
                    {% endif %}
                    {% if perms.profileapp.change_avatar or user.pk == profile.user.pk %}
                        <a href="#" class="link-button150">
                            загрузить
                        </a>
                    {% endif %}
                </td>
                <td>
                    <table>
                        <tr>
                            <td colspan="2" align="center">
                                <img src="{% static 'profileapp/img/profile-icon.png' %}" alt="profile">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Фамилия
                            </td>
                            <td>
                                {% firstof profile.lastname 'Нет данных' %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Имя
                            </td>
                            <td>
                                {% firstof profile.firstname 'Нет данных' %}
                            </td>
                        </tr>
                        {% if not profile.nmn %}
                            <tr>
                                <td>
                                    Отчество
                                </td>
                                <td>
                                    {% firstof profile.middlename 'Нет данных' %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2" align="center">
                                <img src="{% static 'profileapp/img/phone-icon.png' %}" alt="phone" width="24" height="24">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Внут. номер
                            </td>
                            <td>
                                {% firstof profile.phone 'Нет данных' %}
                            </td>
                        </tr>
                        {% if profile.phones %}
                            {% for phone in profile.phones.all %}
                                <tr>
                                    <td>
                                        {{ phone.title }}
                                    </td>
                                    <td>
                                        {{ phone.number }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td colspan="2" align="center">
                                <a href="#" class="link-button170">
                                    добавить номер
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <img src="{% static 'profileapp/img/email-icon.png' %}" alt="email" width="24" height="24">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Корп. почта
                            </td>
                            <td>
                                {% firstof profile.mail 'Нет данных' %}
                            </td>
                        </tr>
                        {% if profile.emails %}
                            {% for email in profile.emails %}
                                <tr>
                                    <td>
                                        {{ email.title }}
                                    </td>
                                    <td>
                                        {{ email.address }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if perms.email.add_email or user.pk == profile.user.pk %}
                            <tr>
                                <td colspan="2" align="center">
                                    <a href="#" class="link-button170">
                                        добавить почту
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        </table>
    {% endblock %}
{% else %}
    <h1>
        Нет профиля для отображения.
    </h1>
{% endif %} {# if profile #}