{% extends 'homeapp/base.html' %}

{% load static %}

{% block title %}
    Редактирование профиля {{ profile.fio }}
{% endblock %}

{% block page-content %}
    <h1>
        Редактирование профиля {{ profile.fio }}
    </h1>
    {% if form.errors %}
        <div class="error-text">
            Исправьте перечисленные ниже ошибки.
        </div>
        <ul>
            {% if form.non_field_errors %}
                {% for error in form.non_fieled_errors %}
                    <li class="error-text">
                        {{ error }}
                    </li>
                {% endfor %}
            {% else %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="error-text">
                            {{ field.label }}: {{ error }}
                        </li>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}