{% extends 'homeapp/base.html' %}

{% load static %}

{% block title %}
Загрузить аватар
{% endblock %}

{% block page-content %}

    {% block page-content-title %}
        Загрузить аватар
    {% endblock %}

    <h2>
        Максимальный размер файла 1 Мб.
    </h2>

    <form method="post">
        <table>
            <tr>
                <td align="center" valign="center">
                    {% if profile.avatar.image %}
                        <img src="{{ profile.avatar.image.url }}" alt="avatar" width="150" height="150">
                    {% else %}
                        <img src="{% static 'profileapp/img/default-avatar.png' %}" alt="avatar" width="150" height="150">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <button type="submit">
                        Сохранить
                    </button>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}